.header {
  width: 100%;
  background: #101E1C;
  right: 0;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "mot hai";
  padding-top: 10vh;
}

.header-content {
  grid-area: mot;
  text-align: center;
  color: white;
  padding-top: 15vw;
}

.header-content p:first-child {
  font-size: 5vw;
  opacity: 0;
}

.header-content div:last-child {
  padding-left: 20%;
  text-align: left;
  opacity: 0;
}

.video-container {
  grid-area: hai;
  width: 100%;
  overflow: hidden;
  position: relative;
  float: right;
}

.video {
  width: 100%;
  border: none;
  outline: none;
}

.welcome {
  font-size: 4vw;
  color: white;
  letter-spacing: 6px;
  text-align: center;
  position: absolute;
  bottom: 10vh;
  right: 20vw;
}

.hide-d {
  display: none;
}