* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: serif;
  width: 100vw;
}

.main-content {
  width: 100vw;
  height: auto;
  background-color: pink;
}