.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background-color: #101E1C;
  opacity: 1;
  transition: opacity 0.5s;
  top: 0;
}

.loader-container {
  width: 100vw;
}

.hide-d {
  display: none;
}

.hide-o {
  opacity: 0;
}