.navigator-container {
  display: block;
  position: fixed;
  background-color: transparent;
  width: 100px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1;
}

.page-transition {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  visibility: visible;
  z-index: 10;
  left: calc(100px - 100vw);
}

.nav-container {
  display: flex;
  position: fixed;
  top: 0;
  height: 100vh;
  padding-top: 40vh;
  z-index: 1;
  right: 0;
  transition: right 0.5s;
  color: white;
  font-size: 25px;
  background: rgba(16, 30, 28, 0.8);
  background: #FFC0CB;
  /*background: #FFAA4F;*/
}

.nav div {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 15px;
}

.nav div:hover {
  cursor: pointer;
  color: #73F2EF;
  /*text-shadow: 0 0 5px #41CECC;*/
}

.menu-btn {
  margin-top: 60px;
  width: 60px;
  height: 60px;
}

.menu-btn:hover {
  cursor: pointer;
}

.active-btn {
  /*color: #FFE4E9;
  text-shadow: 0 0 5px #FFC0CB;*/
  color: #FFAA4F;
}

.right-slide {
  right: -200px;
}

.half-right-slide {
  right: -100px;
}

.hide-d {
  display: none;
}

.hide-v {
  visibility: hidden;
}